th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th:last-child,
td:last-child {
  text-align: center;
}
.tableBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.new_word {
  padding-bottom: 20px;
  button {
    background-color: #804140;
    color: white;
  }
  button:hover {
    background-color: #ffdcca;
    color: #804140;
  }
}
